@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
}

.uber-logo {
    width: 60px;
    height: 23px;
    margin-right: 28px;
}

.nav-container {
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

.first,
.second {
    font-size: 16px;
    font-weight: 500;
    margin-top: 2px;
}

.first span,
.second span {
    margin-right: 20px;
}

.btn-white,
.sectionSuggestions button {
    color: #000;
    background-color: #ffffff;
    border: 0px;
    border-radius: 24px;
    height: 34px;
    width: 73px;
    font-size: 14px;
    font-weight: 500;
}

.UberHomePage {
    background-color: #000;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 50px 12% 50px 12%;
}

.home-text-container,
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    margin-bottom: 40px;
}

.UberHomePage h1,
.UberFeatures h1 {
    font-size: 50px;
    margin: 0px;
}

.UberHomePage p,
.UberFeatures p {
    font-size: 17px;
}

.uber-img {
    height: 700px;
    margin: 0px;
}

.UberHomePage input {
    background-color: #F3F3F3;
    height: 28px;
    width: 368px;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.UberHomePage input::placeholder {
    color: #5E5E5E;
    font-size: 16px;
    padding-left: 24px;
}

.arrow-icon,
.square-icon {
    position: relative;
    width: 368px;
}

.arrow-icon svg:nth-of-type(2) {
    color: #000;
    position: absolute;
    right: 0px;
    top: 20%;
    font-size: 24px;
}

.arrow-icon svg:nth-of-type(1) {
    color: #000;
    position: absolute;
    left: 8px;
    top: 24%;
    font-size: 24px;
}

.square-icon svg {
    color: #000;
    position: absolute;
    left: 8px;
    top: 24%;
    font-size: 24px;
}

.home-text-container {
    position: relative;
}

.connecting-line {
    border-left: 1px solid #ffffff;
    height: 48px;
    position: absolute;
    top: 56%;
    left: 18px;
}

.UberHomePage button {
    color: #000;
    background-color: #ffffff;
    border: 0px;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.sectionSuggestions {
    padding: 50px 12% 50px 12%;
}

.sectionSuggestions h2,
.UberFeatures h2,
.sectionApps h1 {
    font-size: 38px;
}

.sectionSuggestions h3 {
    font-size: 17px;
    margin: 0px;
    font-weight: 500;
}

.sectionSuggestions p {
    font-size: 13px;
}

.outer-container {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    background-color: #F3F3F3;
    padding: 16px;
    margin-right: 20px;
    border-radius: 10px;
    width: 600px;
    height: 130px;
}

.suggestions-img {
    width: 120px;
}

.UberFeatures {
    padding: 50px 12% 50px 12%;
    display: flex;
    justify-content: space-between;
}

.uber-features-img {
    width: 550px;
    height: 550px;
    margin: 0px;
}

.text-container button {
    color: #ffffff;
    background-color: #000;
    border: 0px;
    border-radius: 10px;
    height: 44px;
    width: 120px;
    font-size: 16px;
    margin-right: 18px;
}

.text-container a {
    margin-top: 7px;
    color: #000;
    text-decoration: underline;
    font-size: 17px;
}

.text-container p {
    margin-top: 28px;
    margin-bottom: 28px;
}

.sectionApps {
    background-color: #F6F6F6;
    padding: 30px 12% 50px 12%;
}

.apps-card {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-right: 30px;
    padding: 20px;
    width: 50%;
}

.qr-img {
    width: 150px;
}

.text-alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-alignment h2 {
    font-size: 25px;
    margin-bottom: 0px;
}

.text-alignment p {
    font-size: 17px;
    margin-top: 0px;
}

.sectionLearnMore {
    padding: 50px 12% 50px 12%;
    font-size: 16px;
}

.sectionLearnMore span {
    text-decoration: underline;
}

footer {
    background-color: #000;
    padding: 120px 12% 80px 12%;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 15px;
}

.footer-start {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.footer-heading {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-row {
    display: flex;
}

.footer-column {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.footer-app {
    width: 130px;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-right: 5px;
}

.other-info button {
    background-color: #000;
    border: 0px;
    color: #ffffff;
}

.other-info span {
    font-size: 15px;
}

.other-info svg {
    margin-right: 5px;
}

.social-media-acc svg {
    margin-right: 90px;
}

.footer-end {
    display: flex;
    justify-content: space-between;
    color: #AFAFAF;
    font-size: 12px;
}

.footer-end a {
    color: #AFAFAF;
    font-size: 12px;
    margin-right: 26px;
}